In [ ]:
#Dataset using range
val ds = spark.range(3)
ds.show()

In [ ]:
#Dataset using list
val dslist = List(1,2,3).toDS()
dslist.show()

In [ ]:
#Dataset using sequence
val dsseq = Seq(1,2,3).toDS()
dsseq.show()

In [ ]:
#Dataset with case class
case class Person(name: String, age: Long)
val dsPerson = Seq(Person("Andy", 32),Person("Kate", 30),Person("Peter", 34)).toDS()
dsPerson.show()

In [ ]:
#Dataset using RDD
val rdd = sc.parallelize(Seq(1,2,3))
val dsrdd = rdd.toDS()
dsrdd.show()